@charset "UTF-8";
/* CSS Document */

body{
	background-image: url("images/dot.png");
	
}

#container{
	width: 960px;
	margin: 0 auto;
	
}

header{
	width: 100%;
	height: 200px;
	background-image: url("images/header_bkg.png");
	
}

nav{
	margin: 10px;
	padding: 10px;
	background-color: rgba(228,83,153,1.00);
	width: 300px;
	height: 350px;
	float: left;
	
}

section{
	margin: 10px;
	padding: 10px;
	background-color:rgba(5,137,134,1.00);
	width: 570px;
	height: 350px;
	float: left;
	
}

article{
	background-color:rgba(72,195,108,1.00);
	width: 100%;
	height: 350px;
	
}

footer{
	width: 100%;
	height: 30px;
	background-color: rgba(140,225,236,1.00);
	clear:both;
	
}

h1{
	font-family: 'Mansalva', cursive;
}